@model Actor

@{
    ViewData["Title"] = "Delete  the records";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete the records</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                </form>

                <div class="form-group">
                    <label asp-for="profilepictureUrl" class="control-label"></label>
                    <input asp-for="profilepictureUrl" class="form-control" />
                    <span asp-validation-for="profilepictureUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <form action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="confirm" class="btn btn-danger float-right" />
                    </form>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.ID"> Delete</a>
                    <a class="btn btn-outline-secondary" asp-action="Index"> Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>


